<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Testler</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .test-button {
            font-size: 18px;
            text-align: left;
            padding: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Online Testler</h1>
        <h1 style="font-size:150%;"></h1>
        {% for exam in exams %}  
        <form action = "{%   url 'addQuiz'  user_id=userid exam_id=exam.eid  %}" method = "GET">
            <button class="btn btn-primary test-button btn-block">
                <div class="d-flex justify-content-between">
                    <span>{{ exam.title }}</span>
                    <span><small>{{ exam.content }}</small></span>
                    <span>{{userid}}</span>
                </div>
            </button>
        </form>
        {% endfor %}

        <!-- Sınav Ekle Butonu -->
        <form>
            <button class="btn btn-success test-button btn-block">
                <div class="d-flex justify-content-between">
                    <span>Sınav Ekle</span>
                </div>
            </button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
